*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #fafafa;
  --dark-color: #0e0c09;
  --dark-color-15: rgba(14, 12, 9, 0.15);
  --accent: #228b22;
  --fs-base: 1rem; /* 16px */
  --fs-logo: clamp(1.5rem, 2vw, 2rem);
  --fs-nav: clamp(1rem, 1.5vw, 1.125rem);

  --fs-h1: clamp(2.5rem, 5vw, 3rem);
  --fs-h2: clamp(2rem, 4vw, 2.25rem);
  --fs-h3: clamp(1.25rem, 3vw, 1.5rem);
  --fs-h4: clamp(1rem, 3vw, 1.125rem);
}

h1 {
  font-size: var(--fs-h1);
  margin: 0;
}
h2 {
  font-size: var(--fs-h2);
  margin: 0;
}
h3 {
  font-size: var(--fs-h3);
  margin: 0;
}
h4 {
  font-size: var(--fs-h4);
  margin: 0;
}
p {
  font-size: var(--fs-base);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: var(--fs-logo);
  color: var(--dark-color);
  margin: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 8px;
}

.highlight {
  color: var(--accent);
}

.navMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.navMenu a {
  color: var(--dark-color);
  text-decoration: none;
}

.navMenu ul li a:hover,
.animals-grid a:hover {
  color: var(--accent);
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px clamp(16px, 5vw, 80px);
  border-bottom: 1px solid var(--dark-color-15);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px clamp(16px, 5vw, 80px);
}

footer {
  border-top: 1px solid var(--dark-color-15);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
}

.section {
  width: min(1200px, 100% - 40px);
  margin-inline: auto;
  padding: 32px 0px 32px 0px;
}

.animals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 32px;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto; /* center the grid */
  padding: 0; /* remove padding that causes overflow */
  margin: 32px 0px 32px 0px;
}

.animals-grid a {
  text-decoration: none;
  color: var(--dark-color);
}

.animals-card {
  /* width: 100%; */
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
}
.animals-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}
.animals-card:hover {
  transform: translateY(-5px);
  border: var(--dark-color) 1px solid;
  box-shadow: 0 4px 6px var(--dark-color-15);
}

.animals-card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.animals-card p {
  font-size: 1rem;
  color: #555;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh; /* adjust height as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(14, 12, 9, 0.5);
  padding: 80px 80px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 16px;
}

.hero-overlay h1 {
  color: var(--background-color);
  font-size: var(--fs-h1);
  margin: 0;
}

.hero-overlay p {
  color: var(--background-color);
  font-size: var(--fs-base);
  margin: 0;
}
